body {
    background-image: url('https://www.publicdomainpictures.net/pictures/30000/velka/cork-board.jpg');
    font-family: 'Patrick Hand SC', cursive;
}

/* TO DO PAGE */

.project {
    padding: 50px;
    background: transparent;
}
.projectContentWrapper {
    background: white;
    padding: 40px;
    box-shadow: 0px 20px 20px 0px #0000006e;
    transform: rotate(3deg);
}
.projectOptionButton {
    position: absolute;
    right: -40px;
    top: -40px;
    background: transparent;
    color:black; 
    border: none;
}
.projectOptionButton:hover {
    background: transparent;
    color: black;
}
.projectOptionButton:focus {
    box-shadow: none!important;
}
.show>.btn-secondary.dropdown-toggle {
    color: black;
    background-color: transparent;
    border:none;
}
.pin {
    width: 70px;
    position: absolute;
    top: 0;
    left: 40%;
}
.finishedBtn {
    background: transparent;
    border: none;
    cursor: pointer;
}
.projectContentWrapper form {
    display: inline-block;
}
.taskUpdateBtn {
    display: inline-block;
}
.addUpdateForm {
    width: 100%;
}
.newProjectBtn {
    font-size: 2.5em;
    margin:60px;
    color: black;
}
.newProjectBtn:hover {
    color: black;
    text-decoration: none;
}
.newProjectBtn i {
    margin-right: 20px;
    color: #bf3100;
}
.pinAdd {
    width: 70px;
    top: 0;
}
.disabled {
    pointer-events: none;
}
.check {
    color: white;
}
.checkGreen {
    color: green;
}
